services:
  teddycloud:
    container_name: teddycloud
    hostname: teddycloud
    image: ghcr.io/toniebox-reverse-engineering/teddycloud:tc_v0.6.7_alpine@sha256:490df216f6dea3d836bbfa3758680b096c2046afc8d546ec0730b5fc3198ed2e
    # ports:
    #  - 80:80 #optional (for the webinterface)
    #  - 8443:8443 #optional (for the webinterface)
    #  - 443:443 #Port is needed for the connection for the box, must not be changed!
    volumes:
      - certs:/teddycloud/certs
      - config:/teddycloud/config
      - content:/teddycloud/data/content
      - library:/teddycloud/data/library
      - firmware:/teddycloud/data/firmware
      - cache:/teddycloud/data/cache
    restart: unless-stopped
  teddycloud2:
    image: ghcr.io/toniebox-reverse-engineering/teddycloud:tc_v0.6.7@sha256:80b23b04718f6e833a7ac9c1a83e768b9d52919f65166c67422d67d14a3202ce
volumes:
  certs:
  config:
  content:
  library:
  firmware:
  cache: